.form {
    background-color: #ffdaa9;
    border-radius: 20px;
    box-sizing: border-box;
    height: 440px;
    padding: 20px;
    width: 300px;
    margin-top: -360px;
    margin-right: 300px;
    float: right;
}
.input {
    background-color: #ebe7a6;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 12px;
    height: 20px;
    outline: 0;
    padding: 4px 10px 0;
    width: 100%;
    margin-bottom: 10px;
  }
.btn {
    cursor: pointer;
    border: none;
    color: black;
    background-color: #cac229;
}
.btn:hover{
    background-color: #908c37;
}